
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("rent.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.login-box{
    background: rgba(0,0,0,.5);
    width: 400px;
    padding: 40px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;

}

.login-box h4{
    text-align: center;
    font-size: 40px;
    border-bottom: 4.5px solid darkslategrey;
    margin-bottom: 50px;
    padding: 13px 0;
}

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid darkslategrey;

}

.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 100px;
    float: left;
    margin: 0 10px;
}

.btn{
    width: 100%;
    background: none;
    border: 2.8px solid darkslategrey;
    border-radius: 10px;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12 px 0;
}